* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav-bar {
  width: 1140px;
  height: 72px;
  display: inline-block;
  margin: 0;
  padding: 12px 80px;
  font-family: 'Inter', sans-serif;
}

.nav-img {
  vertical-align: middle;
  display: inline-block;
  margin-top: 12px;
  margin-right: 135px;
}

.list {
  vertical-align: middle;
  display: inline-block;
  margin-left: 80px;
}

.list, ul, li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.list a {
  text-decoration: none;
  color: #323232;
  font-size: 18px;
}

.lists {
  display: inline-block;
  vertical-align: middle;
}

.contact-btn {
  display: inline;
  vertical-align: middle;
  margin-left: 150px;
  padding: 6px 12px;
  background-color: #E9D7FE;
  color: #AC00FF;
  border: 1px solid;
  text-decoration: none;
  border-radius: 8px;
}

#container {
  width: 841px;
  height: 314px;
  margin-left: 214px;
  margin-top: 208px;
}

.heading {
  font-size: 38px;
  font-family: 'Impact', 'Arial Black', sans-serif;
  font-weight: 400;
  color: #323232;
  line-height: 96x;
  margin-bottom: 24px;
}

.para1 {
  font-family: "Inria Sans";
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

.join-spn {
  padding: 18px 64px;
  background-color: #5C3BAE;
  color: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
}

.grp-img-spn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
}

.watch-spn {
  font-size: 18px;
  color: #4D3491;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 10px; 
}

#container2 {
  width: 1311px;
  height: 633px;
  margin-left: 520px;
  display: inline-block;
  margin-top: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

#navbar {
  width: 100%;
  height: 60px;
  width: 1140px;
  height: 78px;
  margin-left: 80px;
  margin-top: 12px;
}

.nav-pic {
  float: left;
  width: 20%;
  height: 60px;
  line-height: 60px; 
  padding-left: 10px;
}

.menu {
  float: left;
  width: 50%; 
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding-left: 80px;
}

.menu a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  display: inline-block;
  color: #323232;
}

.contact {
  float: right;
  width: 30%;
  height: 60px;
  text-align: right;
  padding-right: 20px;
  line-height: 60px;
}

.contact-btn {
  text-decoration: none;
  background-color: #E9D7FE;
  color: #AC00FF;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: 2px solid;
}

#container {
  width: 841;
  height: 314px;
  margin-left: 214px;
  margin-top: 136px;
  font-size: 72px;

}

.heading {
  font-family: 'Impact', 'Arial Black', sans-serif;
  color: #323232;
  text-align: center;
  padding-right: 550px;
  display: inline-block;

}

.para1 {
  font-size: 24px;
  color: #323232;
  text-align: center;
  padding-right: 450px;
  padding-top: 30px;
  display: inline-block;
  margin-left: 28px;
}

.join-btn {
  background-color: #5C3BAE;
  display: inline-block;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 20px 78px;
  border-radius: 8px;
  margin-left: 34px;
}

.join-btn a {
  text-decoration: none;
  color: white;
  
}

.vid-link {
  display: inline-block;
  font-size: 18px;
  color: #4D3491;
  text-decoration: underline; text-underline-offset: 4px

}

.imgvid {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.content-img {
  width: 1311px;
  height: 633px;
  display: inline-block;
  /* margin-left: 350px;    */
}
